<div *ngIf="message" class="errorMessage">
    <mat-icon>error_outline</mat-icon>
    {{ message }}
</div>

<div *ngIf="isLoading" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="!message && !isLoading">
    <h2 *ngIf="isSearched">Gasolineras en {{ location }}</h2>
    <ul class="listaGasolineras">
        <li *ngFor="let gasStation of gasStations">
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header>
                    <div mat-card-avatar class="station-avatar">
                        <img [src]="'./assets/images/' + gasStation.marca + '.png'" alt="{{ gasStation.marca }}">
                    </div>
                    <mat-card-title-group>
                        <mat-card-title>{{ gasStation.marca }}</mat-card-title>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content class="station-content">

                        <div class="station-column1">
                            <p>{{ gasStation.direccion }}</p>
                            <p>{{ gasStation.localidad }}</p>
                            <p><strong>Horario:</strong> {{ gasStation.horario }}</p>
                        </div>

                        <hr class="divider">

                        <div class="station-column2">
                            <div *ngFor="let fuel of getFuelPrices(gasStation)">
                                <p class="fuel-type">{{ fuel.type }}</p>
                                <p class="fuel-price">{{ fuel.price }} €/L</p>
                            </div>
                            <div>
                                <p ><strong>Toma de datos:</strong></p>
                                <p>{{ gasStation.fechadatos }}</p>
                            </div>
                        </div>

                </mat-card-content>
            </mat-card>
        
        </li>
    </ul>
</div>
  