.errorMessage {
    text-align: center;
    padding: 20px;
    border: 1px solid #ffcccc;
    background-color: #fff5f5;
    color: red;
    border-radius: 8px;
    margin: 20px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    margin-bottom: 50px;
}

.mat-column-direccion {
    width: 30%;
}

.mat-column-horario {
    width: 10%;
}

.mat-column-distance,
.mat-column-travelTime,
.mat-column-diesel,
.mat-column-dieselPremium, 
.mat-column-gasolina95,
.mat-column-gasolina98 {
    text-align: center;
}

.mat-column-marca {
    width: 25%;
}
  
.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
                0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
th.mat-header-cell, td.mat-cell {
    text-align: left;
    padding: 8px 16px;
}

.mat-header-cell, .mat-cell {
    text-align: center;
}
  
.mat-header-cell:first-child, .mat-cell:first-child {
    text-align: left;
}

.marcaImg{
    max-width: 15%;
    height: auto;
}  