.home_footer {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}

.enlace-footer{
    flex: 1;
    color: white;
}

@media (max-width: 400px){
    .home_footer {
        flex-direction: column;
        gap: 30px;
    }
}