.infoHeader{
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 191, 135);    
    padding: 1rem;
    align-items: center;
}

.logo {
    max-width: 20%;
    height: auto;
}

.button_user{
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.userIcon{
    font-size: 48px;
    width: auto;
    height: auto;
}