.infoHeader{
    display: flex;
    justify-content: space-between;
    background-color: rgb(219, 191, 135);    
    padding: 1rem;
    align-items: center;
}

.enlaceLogo{
    width: 7%;
}

.logo {
    max-width: 100%;
    height: auto;
}

.eslogan{
    font-size: 28px;
}

.button_user{
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
}

.userIcon{
    font-size: 48px;
    width: auto;
    height: auto;
}

.infoHeaderUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.userName{
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.favoritesIcon{
    font-size: 30px;
    width: auto;
    height: auto;
}

@media (max-width: 400px){
    .infoHeader{
        flex-direction: column;
    }
    .infoHeaderUser{
        column-gap: 140px;
    }
    .enlaceLogo{
        width: 30%;
        margin-bottom: 10px;
    }
    .eslogan{
        font-size: 18px;
    }
    .userName{
        font-size: 20px;
    }
    .buttonsSection{
        display: flex;
        justify-content: center;
    }
}