.search_form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}
  
.search_form_field {
    width: 100%;
}

.search_form2 {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.fuel-select {
    display: flex;
    flex-direction: column;
    flex: 1;
}

