<div class="container">
    <h1 class="tituloDetalles"> Información detallada de la gasolinera</h1>

    <button class="button" (click)="goBack()">
        <mat-icon class="icon" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
    </button>      

    <div class="firstView">
        <div id="map2" class="map"></div>
        <div class="apartadoFavoritos" *ngIf="gasStation">
            <p *ngIf="isFavorite(gasStation.id)">Añadida a favoritos</p>
            <p *ngIf="!isFavorite(gasStation.id)">Añadir a favoritos</p>
            <button class="button_favorite" (click)="toggleFavorite(gasStation.id)">
                <mat-icon *ngIf="isFavorite(gasStation.id)" aria-hidden="false" fontIcon="favorite" color="warn"></mat-icon>
                <mat-icon *ngIf="!isFavorite(gasStation.id)" aria-hidden="false" fontIcon="favorite_border" color="warn"></mat-icon>
            </button>
        </div>
    </div>

    <div class="tab" *ngIf="gasStation">
        <mat-tab-group>
            <mat-tab label="Información General">
                <div class="info">
                    <p><strong>Marca:</strong> {{ gasStation.marca }}</p>
                    <p><strong>Localidad:</strong> {{ gasStation.localidad }}</p>
                    <p><strong>Dirección:</strong> {{ gasStation.direccion }}</p>
                    <p><strong>Horario:</strong> {{ gasStation.horario }}</p>
                    <p><strong>Distancia hasta la gasolinera:</strong> {{ gasStation.distance | number: '1.2-2' }} km</p>
                    <p><strong>Tiempo estimado de llegada:</strong> {{ gasStation.travelTime | number: '1.2-2' }} min</p>
                </div>
            </mat-tab>

            <mat-tab label="Ubicación">
                <div class="info">
                    <p><strong>Longitud:</strong> {{ gasStation.longitud }}</p>
                    <p><strong>Latitud:</strong> {{ gasStation.latitud }}</p>
                    <p><strong>Última Actualización:</strong> {{ gasStation.fechadatos }}</p>
                </div>
            </mat-tab>

            <mat-tab label="Precios de Combustible">
                <div class="info">
                    <p><strong>Gasolina 95:</strong> {{ gasStation.preciogasolina95 != 0.000 ? gasStation.preciogasolina95 : '-' }} €/L</p>
                    <p><strong>Gasolina 98:</strong> {{ gasStation.preciogasolina98 != 0.000 ? gasStation.preciogasolina98  : '-' }} €/L</p>
                    <p><strong>Diesel:</strong> {{ gasStation.preciodiesel != 0.000 ? gasStation.preciodiesel  : '-' }} €/L</p>
                    <p><strong>Diesel Premium:</strong> {{ gasStation.preciodieselpremium != 0.000 ? gasStation.preciodieselpremium  : '-' }} €/L</p>
                </div>
            </mat-tab>
            <mat-tab label="Valoraciones">
                <div class="info">
                    <app-valorations [gasStationId]="gasStationId"></app-valorations>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>