<div class="container">
    <h1>Sobre Search Gas</h1>
    <h2>Términos y Condiciones de Search Gas</h2>
    <ol>
        <li>
            <strong>Aceptación de Términos:</strong> Al acceder y utilizar este sitio web, usted acepta cumplir con los siguientes términos y condiciones. Si no está de acuerdo con alguno de estos términos, le rogamos que no utilice este sitio.
        </li>
        <li>
            <strong>Propiedad Intelectual:</strong> Search Gas es un proyecto no comercial y no tiene afiliación oficial con los nombres de las empresas. Todos los derechos de propiedad intelectual relacionados con las mismas, incluidos pero no limitados a marcas registradas, nombres de productos y contenido multimedia, son propiedad de sus respectivos propietarios.
        </li>
        <li>
            <strong>Uso Aceptable:</strong> No se permite el uso indebido del contenido o la información proporcionada en este sitio. No se permite la reproducción, distribución o modificación del contenido sin el consentimiento expreso de los propietarios de los derechos de autor.
        </li>
        <li>
            <strong>Responsabilidad:</strong> Search Gas no asume responsabilidad alguna por el uso que se haga de la información proporcionada. Los usuarios asumen la responsabilidad total de su interacción con el contenido y comprenden que este sitio no tiene relación comercial con las empresas mostradas.
        </li>
        <li>
            <strong>Modificaciones de Términos:</strong> Nos reservamos el derecho de modificar estos términos en cualquier momento sin previo aviso. Los cambios entrarán en vigencia inmediatamente después de su publicación en este sitio.
        </li>
        <li>
            <strong>Contacto:</strong> Para cualquier pregunta o inquietud relacionada con estos términos y condiciones, puede ponerse en contacto con nosotros aandresvi@uoc.edu.
        </li>
    </ol>
    <h2>Política de Privacidad de Search Gas</h2>
    <ol>
        <li>
            <strong>Información Recopilada:</strong> Search Gas no recopila información.
        </li>
        <li>
            <strong>Cookies y Tecnologías Similares:</strong> Search Gas puede utilizar cookies y tecnologías similares para mejorar la experiencia del usuario. Los usuarios pueden configurar sus navegadores para rechazar cookies, pero esto puede afectar la funcionalidad del sitio.        </li>
        <li>
            <strong>Cambios en la Política de Privacidad:</strong> Nos reservamos el derecho de realizar cambios en esta política de privacidad en cualquier momento. Los cambios serán efectivos inmediatamente después de su publicación en este sitio.
        </li>
        <li>
            <strong>Consentimiento:</strong> Al utilizar Search Gas, los usuarios aceptan esta política de privacidad y consienten el procesamiento de su información de acuerdo con los términos establecidos aquí.
        </li>
    </ol>
    <h2>Contacto</h2>
    <p>
        Para consultas generales, comerciales o información adicional, contáctanos de la siguiente manera:
    </p>
    <p>
        <strong>Email:</strong> aandresvi@uoc.edu
    </p>
</div>